* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    transition: all 1s ease-in-out; 
}

 .burgerImg {
    width: 220px;
    height:200px;
 }

nav {
    display: flex;
    justify-content: space-around;
    gap: 160px;
    
}

nav h2 {
    margin-left: 28px;
    color: #f9faf8
}

nav ul {
    display: flex;
    gap: 32px;
    margin-right: 80px;
    list-style-type: none;
    color: #f9faf8;
    
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 64px;
    padding-bottom: 64px;
    
}

.left  {
    max-width: 300px;
}

.left p { 
color: #f9faf8;
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.headerContainer { 
    background-color: #1F2937;

}

.bodyContainer {
    height: 45vh;
}
.bodyContainer h1 {
    text-align: center;
    margin-bottom: 50px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.pContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pContainer p {
    max-width: 250px;
}

.quoteContainer {
    background-color: #E5E7EB;
    height: 15vh;
}

.quoteContainer p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight:100;
} 

.quoteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px;
}

.quoteAuthor {
    text-align: right;
}

.quoteAuthor p {
    font-weight: 900;
}
 
.quoteText {
    max-width: 1200px;
}

.aBox {
    border: 1px solid black;
    width: 700px;
    padding: 20px 45px;
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    height: 65px;
    color: #f9faf8;
    
}

.actionContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.aBox h3 {
    font-size: 16px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid #f9faf8;
    background:none;
    color: #f9faf8;
    
}

.aBox p {
    font-size: 11px;
}

.footer {
    background-color: #1F2937;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer p {
    color: #f9faf8;
}

button:hover {
    width: 200px;
   
}