* {
    font-family: sans-serif;
}

 .burgerImg {
    width: 220px;
    height:200px;
 }

nav {
    display: flex;
    justify-content: space-around;
    gap: 160px;
    
}

nav h2 {
    margin-left: 28px;
    color: #f9faf8
}

nav ul {
    display: flex;
    gap: 32px;
    margin-right: 80px;
    list-style-type: none;
    color: #f9faf8;
    
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 64px;
    padding-bottom: 64px;
    
}

.left  {
    max-width: 300px;
}

.left p { 
color: #f9faf8;
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.headerContainer { 
    background-color: #1F2937;

}

.bodyContainer {
    height: 45vh;
}
.bodyContainer h1 {
    text-align: center;
    margin-bottom: 50px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.pContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pContainer p {
    max-width: 250px;
}

.quoteContainer {
    background-color: #E5E7EB;
    height: 15vh;
}

.quoteContainer p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight:100;
} 

.quoteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px;
}

.quoteAuthor {
    text-align: right;
}

.quoteAuthor p {
    font-weight: 900;
}
 
.quoteText {
    max-width: 1200px;
}